body {
    background-image: url(https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: whitesmoke;
    padding-top: 1cm;
    padding-bottom: 1cm;
    height: 3mm;
}

.menu-item {
    color: black;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
}

.menu-item:hover {
    color: black;
    background-color: blueviolet;
    font-size: 140%;
}

.menu {
    float: left;
    width: 45%;
}

.logo {
    float: left;
    width: 10%;
    text-align: center;
}

.logo img {
    width: 40px;
    height: 40px;
}

.search {
    float: left;
   width: 35%;
}

.search input[type=search] {
    width: 300px;
    height: 25px;
    border-radius: 25px;
    border: solid;
    padding: 10px;
    border-color: black;
}

.search button {
    background-color: white;
    color: black;
    font-size: 12px;
    border: solid;
    cursor: pointer;
    height: 25px;
    border-radius: 5px;
    float: right;
    border-color: black;
}

.content {
    color: gainsboro;
    max-width: 400px;
}

.title {
    font-weight: 700;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.subtitle {
    font-weight: 400;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

aside {
    position: absolute;
}

.social ul {
    list-style-type: none;
    padding: 5%;
}

.social ul li {
    padding: 10px;
}

.social ul li a {
    color: gainsboro;
    text-decoration: none;
    cursor: pointer;
}

.social .fa {
    font-size: 40px;
}

.content {
    margin-left: 10%;
    width: 50%;
    float: left;
}

.our-team {
    font-size: 25px;
}


.contact-form label {
    color: white;
}

.contact-form input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contact-form input[type=submit] {
    background-color:blueviolet;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form input[type=submit]:hover {
    background-color: #45a049;
}

.contact-form {
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    float: right;
}

#recommendations {
    display: flex;
    flex-direction: column;
    float: right;
    width: 50%;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    max-width: 400px;
    float: right;
}

.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card .description {
    padding: 10px;
}

.card .country-time {
    font-weight: 700;
}